@using _2434Tools.Models;
@{
    ViewData["Title"] = "Live";
}
<div class="text-center">
    <h1 class="display-4">Live</h1>
    <hr />
    <div class="card-group">
        @foreach (Video liveVideo in ViewBag.Live)
        {
            DateTime date = liveVideo.LiveStartTime.HasValue ? liveVideo.LiveStartTime.Value : (liveVideo.Published.HasValue ? liveVideo.Published.Value : DateTime.UtcNow);
            <div class="col-lg-4 col-sm-6 col-12 pb-4">
                <div class="card">
                    <div class="position-relative video-picture-effect">
                        @*
                        Requires Updating time on timer
                        @{
                            UInt32 duration = (UInt32)(DateTime.UtcNow - date).TotalSeconds;
                            UInt32 hrs_fix = duration / 3600;
                            String hrs = hrs_fix == 0? "" : hrs_fix.ToString() + ":",
                                minutes = ((duration / 60) % 60).ToString().PadLeft(2, '0') + ":",
                                seconds = (duration  % 60).ToString().PadLeft(2, '0');

                        }
                        <div class="video-duration red-text">@hrs@minutes@seconds</div>
                        *@
                        <img class="card-img-top" src="@liveVideo.PictureUrl" />
                        <a class="stretched-link" href="https://youtube.com/watch/@liveVideo.Id"></a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@liveVideo.Title</h5>
                        <div class="d-flex align-items-center">
                            <div class="position-relative video-liver-snippet mr-3">
                                <a asp-action="Index" asp-controller="Liver" asp-route-id="@liveVideo.Creator.Id" class="stretched-link" tabindex="-1"></a>
                                <img src="@liveVideo.Creator.ThumbURL" style="height: 3rem; width: 3rem; border-radius: 1.5rem;" class="red" />
                            </div>
                            <a asp-action="Index" asp-controller="Liver" asp-route-id="@liveVideo.Creator.Id" class="video-liver-name">@liveVideo.Creator.Name</a>
                        </div>
                        <hr />
                        <div class="d-flex align-items-center justify-content-between mb-1">
                            <div>
                                <span>Started</span>
                                <span class="card-text video-date">@date.Year @(date.Month-1) @date.Day @date.Hour @date.Minute</span>
                            </div>
                            <div class="d-flex flex-gap align-items-center">
                                <img src="~/icons/eye-red-svgrepo-com.svg" class="views-icon" />
                                <span style="color: var(--yt-live)">@liveVideo.Viewers / @liveVideo.PeakViewers</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (ViewBag.Live is List<Video> && ViewBag.Live.Count != 0)
        {
        }
        else
        {
            <h4 class="text-center w-100">No one is streaming at the moment 😰</h4>
        }
    </div>
    <h1 class="display-4">Upcoming</h1>
    <hr />
    @if (ViewBag.Upcoming is List<Video> && ViewBag.Upcoming.Count != 0)
    {
        <div class="card-group">
            @foreach (Video upcomingVideo in ViewBag.Upcoming)
            {
                DateTime date = upcomingVideo.LiveStartTime.HasValue ? upcomingVideo.LiveStartTime.Value : (upcomingVideo.Published.HasValue ? upcomingVideo.Published.Value : DateTime.UtcNow);
                <div class="col-lg-4 col-sm-6 col-12 pb-4">
                    <div class="card">
                        <div class="position-relative video-picture-effect">
                            <img class="card-img-top" src="@upcomingVideo.PictureUrl" />
                            <a class="stretched-link" href="https://youtube.com/watch/@upcomingVideo.Id"></a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@upcomingVideo.Title</h5>
                            <div class="d-flex align-items-center">
                                <div class="position-relative video-liver-snippet mr-3">
                                    <a asp-action="Index" asp-controller="Liver" asp-route-id="@upcomingVideo.Creator.Id" class="stretched-link" tabindex="-1"></a>
                                    <img src="@upcomingVideo.Creator.ThumbURL" style="height: 3rem; width: 3rem; border-radius: 1.5rem;" />
                                </div>
                                <a asp-action="Index" asp-controller="Liver" asp-route-id="@upcomingVideo.Creator.Id" class="video-liver-name">@upcomingVideo.Creator.Name</a>
                            </div>
                            <hr />
                            <span class="card-text video-date">@date.Year @(date.Month - 1) @date.Day @date.Hour @date.Minute</span>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    <h1 class="display-4">Latest</h1>
    <hr />
    @if (ViewBag.New is List<Video> && ViewBag.New.Count != 0)
    {
        <div class="card-group">
            @foreach (Video newVideo in ViewBag.New)
            {
                DateTime date = newVideo.LiveEndTime.HasValue ? newVideo.LiveEndTime.Value : (newVideo.Published.HasValue ? newVideo.Published.Value : DateTime.UtcNow);
                <div class="col-lg-4 col-sm-6 col-12 pb-4">
                    <div class="card">
                        <div class="position-relative video-picture-effect">
                            @if (newVideo.Duration != 0)
                            {
                                UInt32 hrs_fix = newVideo.Duration / 3600;
                                String hrs = hrs_fix == 0? "" : hrs_fix.ToString() + ":",
                                    minutes = ((newVideo.Duration / 60) % 60).ToString().PadLeft(2, '0') + ':',
                                    seconds = (newVideo.Duration % 60).ToString().PadLeft(2, '0');
                                <div class="video-duration">@hrs@minutes@seconds</div>
                            }
                            <img class="card-img-top" src="@newVideo.PictureUrl" />
                            <a class="stretched-link" href="https://youtube.com/watch/@newVideo.Id"></a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@newVideo.Title</h5>
                            <div class="d-flex align-items-center">
                                <div class="position-relative video-liver-snippet mr-3">
                                    <a asp-action="Index" asp-controller="Liver" asp-route-id="@newVideo.Creator.Id" class="stretched-link" tabindex="-1"></a>
                                    <img src="@newVideo.Creator.ThumbURL" style="height: 3rem; width: 3rem; border-radius: 1.5rem;" />
                                </div>
                                <a asp-action="Index" asp-controller="Liver" asp-route-id="@newVideo.Creator.Id" class="video-liver-name">@newVideo.Creator.Name</a>
                            </div>
                            <hr />
                            <div class="d-flex justify-content-between">
                                <span class="card-text video-date">@date.Year @(date.Month - 1) @date.Day @date.Hour @date.Minute</span>
                                <div class="d-flex align-items-center flex-gap">
                                    <img src="~/icons/eye-black-svgrepo-com.svg" class="views-icon" />
                                    <span>@newVideo.Views</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>
@section Scripts {
    <script type="text/javascript" src="~/js/UtcToLocal.js"></script>
}
