@using _2434Tools.Models;
@{
    ViewData["Title"] = "Live";
}
@*!!! REMOVE SPAN AS IT CAUSES STRETCHED LINK TO NOT FUNCTION PROPERLY*@
<div class="text-center">
    <h1 class="display-4">Live</h1>
    <hr />
    <div class="card-group">
        @foreach (Video liveVideo in ViewBag.Live)
        {
            DateTime date = liveVideo.LiveStartTime.HasValue ? liveVideo.LiveStartTime.Value : (liveVideo.Published.HasValue ? liveVideo.Published.Value : DateTime.UtcNow);
            <div class="col-lg-4 col-sm-6 col-12 pb-4">
                <div class="card">
                    <div class="position-relative video-picture-effect">
                        <img class="card-img-top" src="@liveVideo.PictureUrl" />
                        <a class="stretched-link" href="https://youtube.com/watch/@liveVideo.Id"></a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@liveVideo.Title</h5>
                        <div style="text-align: start" class="flex-gap">
                            <span class="position-relative">
                                <a asp-action="Index" asp-controller="Liver" asp-route-id="@liveVideo.Creator.Id" class="stretched-link" tabindex="-1"></a>
                                <img src="@liveVideo.Creator.ThumbURL" style="height: 3rem; width: 3rem; border-radius: 1.5rem;" class="red" />
                            </span>
                            <a asp-action="Index" asp-controller="Liver" asp-route-id="@liveVideo.Creator.Id">@liveVideo.Creator.Name</a>
                        </div>
                        <hr />
                        <div class="d-flex align-items-center justify-content-between mb-1">
                            <div>
                                <span>Started</span>
                                <span class="card-text video-date">@date.Year @(date.Month-1) @date.Day @date.Hour @date.Minute</span>
                            </div>
                            <div class="d-flex flex-gap align-items-center">
                                <img src="~/icons/eye-red-svgrepo-com.svg" class="views-icon" />
                                <span style="color: var(--yt-live)">@liveVideo.Viewers / @liveVideo.PeakViewers</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (ViewBag.Live is List<Video> && ViewBag.Live.Count != 0)
        {
        }
        else
        {
            <h4 class="text-center w-100">No one is streaming at the moment 😰</h4>
        }
    </div>
    <h1 class="display-4">Upcoming</h1>
    <hr />
    @if (ViewBag.Upcoming is List<Video> && ViewBag.Upcoming.Count != 0)
    {
        <div class="card-group">
            @foreach (Video upcomingVideo in ViewBag.Upcoming)
            {
                DateTime date = upcomingVideo.LiveStartTime.HasValue ? upcomingVideo.LiveStartTime.Value : (upcomingVideo.Published.HasValue ? upcomingVideo.Published.Value : DateTime.UtcNow);
                <div class="col-lg-4 col-sm-6 col-12 pb-4">
                    <div class="card">
                        <div class="position-relative video-picture-effect">
                            <img class="card-img-top" src="@upcomingVideo.PictureUrl" />
                            <a class="stretched-link" href="https://youtube.com/watch/@upcomingVideo.Id"></a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@upcomingVideo.Title</h5>
                            <div style="text-align: start" class="flex-gap">
                                <span class="position-relative">
                                    <a asp-action="Index" asp-controller="Liver" asp-route-id="@upcomingVideo.Creator.Id" class="stretched-link" tabindex="-1"></a>
                                    <img src="@upcomingVideo.Creator.ThumbURL" style="height: 3rem; width: 3rem; border-radius: 1.5rem;" />
                                </span>
                                <a asp-action="Index" asp-controller="Liver" asp-route-id="@upcomingVideo.Creator.Id">@upcomingVideo.Creator.Name</a>
                            </div>
                            <hr />
                            <span class="card-text video-date">@date.Year @(date.Month - 1) @date.Day @date.Hour @date.Minute</span>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    <h1 class="display-4">Latest</h1>
    <hr />
    @if (ViewBag.New is List<Video> && ViewBag.New.Count != 0)
    {
        <div class="card-group">
            @foreach (Video newVideo in ViewBag.New)
            {
                DateTime date = newVideo.LiveEndTime.HasValue ? newVideo.LiveEndTime.Value : (newVideo.Published.HasValue ? newVideo.Published.Value : DateTime.UtcNow);
                <div class="col-lg-4 col-sm-6 col-12 pb-4">
                    <div class="card">
                        <div class="position-relative video-picture-effect">
                            <img class="card-img-top" src="@newVideo.PictureUrl" />
                            <a class="stretched-link" href="https://youtube.com/watch/@newVideo.Id"></a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@newVideo.Title</h5>
                            <div style="text-align: start" class="flex-gap">
                                <span class="position-relative">
                                    <a asp-action="Index" asp-controller="Liver" asp-route-id="@newVideo.Creator.Id" class="stretched-link" tabindex="-1"></a>
                                    <img src="@newVideo.Creator.ThumbURL" style="height: 3rem; width: 3rem; border-radius: 1.5rem;" />
                                </span>
                                <a asp-action="Index" asp-controller="Liver" asp-route-id="@newVideo.Creator.Id">@newVideo.Creator.Name</a>
                            </div>
                            <hr />
                            <div class="d-flex justify-content-between">
                                <span class="card-text video-date">@date.Year @(date.Month - 1) @date.Day @date.Hour @date.Minute</span>
                                <div class="d-flex align-items-center flex-gap">
                                    <img src="~/icons/eye-black-svgrepo-com.svg" class="views-icon" />
                                    <span>@newVideo.Views</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>
@section Scripts {
    <script type="text/javascript" src="~/js/UtcToLocal.js"></script>
}
<style>
    span > img.red {
        box-sizing: content-box;
        box-shadow: rgba(204, 0, 0, 0.2) 0px 0px 4px 4px;
    }
    span > img {
        box-sizing: content-box;
        box-shadow: var(--accent-light-color) 0px 0px 4px 4px;
    }
    .flex-gap > a {
        color: var(--accent-light-color);
        color: rgba(204, 0, 0, 1);
        color: rgba(0, 0,0, 0.5);
    }
    .flex-gap > a:hover {
        text-decoration: none;
        color: black;
    }
</style>
