@{
    ViewData["Title"] = "MultiView";
    Layout = "/Views/Shared/_BaseLayout.cshtml";
}
<form id="__AntiForgeryForm">
    @Html.AntiForgeryToken()
</form>
<div id="appendix" class="d-flex flex-row box-shadow">
    @foreach (Video video in ViewBag.Live)
    {
        String selected = (ViewBag.Selected == null) ? "" : ViewBag.Selected.Id == video.Id ? "selected" : "";
        <div class="video-selection @selected" videoid="@video.Id">
            <img class="list-liver-image" src="@video.Creator.ThumbURL" />
        </div>
    }
</div>
<div id="player">
    @if (ViewBag.Selected != null)
    {
        <iframe videoid="@ViewBag.Selected.Id" src="https://www.youtube.com/embed/@ViewBag.Selected.Id" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    }
</div>
@section Scripts {
    <script src="~/js/MultiViewAjax.js"></script>
    <script>
        $("body").on('click', '.video-selection', (event) => {
            var id = event.currentTarget.getAttribute("videoid");
            if (id != undefined) {
                if (!event.currentTarget.classList.contains('selected')) {
                    event.currentTarget.classList.add('selected');
                    $(`<iframe videoid="${id}" src="https://www.youtube.com/embed/${id}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>`)
                        .appendTo('#player');
                } else {
                    event.currentTarget.classList.remove('selected');
                    $(`iframe[videoid=${id}]`).remove();
                }
            }
        })
    </script>
}
